<!DOCTYPE html>
<html lang="en_US">
  <head>
    <base href="https://csp-cs4hs.appspot.com/CSP4HS/" />
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      FAQ::Computer Science Principles for High School
    </title>

    <link rel="icon" href="assets/img/favicon.ico" />

    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

    <!-- jQuery should be imported first -->
    <script src="assets/lib/jquery-1.7.2.min.js"></script>

    <!-- The following translated strings are used in activity-generic.js and should be
    declared before that file is imported. -->
    <script>
      // import JSON for older browsers like IE 7
      if (typeof JSON == 'undefined') {
        document.write(
            '<script src="assets/lib/json2-2012.10.08.min.js"></' + 'script>');
      }

      // inline translations
      var trans = {};

      
      trans.CHECK_ANSWER_TEXT =
          " Check Answer ";

      
      trans.CHECK_ANSWERS_TEXT =
          " Check Answers ";

      
      trans.SHOW_ANSWER_TEXT =
          " Skip and Show Answer ";

      
      trans.SAVE_ANSWERS_TEXT =
          " Save Answers ";

      
      trans.SAVE_DRAFT_TEXT =
          " Save Draft ";

      
      trans.SUBMIT_ANSWERS_TEXT =
          " Submit Design Notebook ";

      
      trans.SUBMIT_ASSIGNMENT_TEXT =
          " Submit Design Notebook Link ";

      
      trans.SUBMIT_REVIEW_TEXT =
          " Submit Review ";

      
      trans.SELECT_ANSWER_PROMPT =
          " Please click one of the buttons for your answer. ";

      
      trans.ALL_CORRECT_TEXT =
          " All your answers are correct! ";

      
      trans.NUM_CORRECT_TEXT =
          " Number of questions you answered correctly ";

      
      trans.YOUR_SCORE_TEXT =
          " You received a score on this assessment of ";

      
      trans.LESSONS_TO_REVIEW_TEXT =
          " Here are lessons you could review to improve your score ";

      
      trans.PERFECT_SCORE_SAVE_TEXT =
          " Congratulations! Press the \&#39;Submit Answers\&#39; button to submit your grade. ";

      
      trans.GENERIC_SAVE_TEXT =
          " Press the \&#39;Submit Answers\&#39; button below to save your scores. You can also edit your answers above before clicking \&#39;Submit Answers\&#39;. ";

      
      trans.SUBMIT_ASSIGNMENT_CONFIRMATION =
          " Are you sure you want to submit this? "

      
      trans.SUBMIT_REVIEW_CONFIRMATION =
          " Are you sure you want to submit this review? "

      
      trans.CONFIRMATION_EXPLANATION =
          " You cannot edit or delete it after you have done so. "

    </script>
    <script src="assets/lib/activity-generic-1.3.js"></script>

    <script>
      
    </script>

    

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41402100-1', 'csp-csp4hs.appspot.com');
ga('send', 'pageview');
</script>

  </head>

  <body>
    <!-- base.after_body_tag_begins -->

    <!-- logo bar -->
    <div id="gcb-header" role="banner">
      <div class="gcb-aux">
        <p class="gcb-course-image">
          <a href="https://csp-cs4hs.appspot.com">
            <img src="assets/img/CSP-CS4HS_Logo.png"
                 alt="CSP-CS4HS">
          </a>
        </p>
        <p class="gcb-title-header">
          <a href="/">Computer Science Principles</a>
        </p>
        

        
        <div class="gcb-pull-right" style="font-size: larger;">
          
          <a href="https://www.google.com/accounts/ServiceLogin?service=ah&amp;passive=true&amp;continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttps://csp-csp4hs.appspot.com/faq&amp;ltmpl=gm&amp;shdf=Ch4LEgZhaG5hbWUaEkNyZWF0aXZlIENvbXB1dGluZwwSAmFoIhTgwS86dKubshFpWMogTWQvjFGK7CgBMhS7MhwGrrjp9WuaC3HsV5I2EurjKA">Login</a>
        </div>
        
      </div>
    </div>

    
        
	    <div class="gcb-nav gcb-complex" id="gcb-nav-x">
			<div class="gcb-aux">
			  <ul>
			    <li >
			      <a href="course">Home</a>
			    </li>
			    <li >
			      <a href="register">Registration</a>
			    </li>
			    <li class='active'>
			    	<a href="faq">FAQ</a>
			    </li>
			    <li >
			    	<a href="team">Team</a>
			    </li>
			    
			    
			  </ul>
			</div>
		</div>
	
    

    <!-- top section -->
    <div class="is-wrapper">
      <div class="gcb-aux">
        


  <div>
	  <div class="gcb-cols">
		  <div class="gcb-col-11 gcb-aside">

	        <h1 class="gcb-product-headers-large">Frequently Asked Questions</h1>
	        <p class="gcb-faq-overview">Computer Science Principles is a free six-week online workshop for educators who want to learn more about using Scratch and supporting computational thinking in the classroom and other learning environments.</p>
	        <p class="gcb-faq-overview">Want to know more about the workshop? Check out our answers to common questions...</p>

	        <h1 class="gcb-faq-question">What is Computer Science Principles?</h1>
	        <p class="gcb-faq-response">Computer Science Principles is about <strong>creativity</strong>. Computer science and computing-related fields have long been perceived as being disconnected from young people's interests and values. Computer Science Principles supports the development of personal connections to computing, by drawing upon creativity, imagination, and interests.</p>
	        <p class="gcb-faq-response">Computer Science Principles is about <strong>computing</strong>. Many young people with access to computers participate as consumers, rather than designers or creators. Computer Science Principles emphasizes the knowledge and practices that young people need to create the types of dynamic and interactive computational media that they enjoy in their daily lives.</p>
	        <p class="gcb-faq-response">Engaging in the creation of computational artifacts prepares young people for more than careers as computer scientists or as programmers. It supports young people's development as computational thinkers – individuals who can draw on computational concepts, practices, and perspectives in all aspects of their lives, across disciplines and contexts.</p>

	        <h1 class="gcb-faq-question">What is Scratch?</h1>
	        <p class="gcb-faq-response"><a href="http://scratch.mit.edu" target="_blank">Scratch</a> is a <strong>free</strong> authoring environment for interactive media and a community for sharing those interactive media creations. Launched in 2007, Scratch is used by hundreds of thousands of people (mostly ages 8 through 18) around the world, and more than 3 million projects have been created and shared through the Scratch online community.</p>
	        <p class="gcb-faq-response">The latest version of <a href="http://scratch.mit.edu" target="_blank">Scratch</a>, which was launched in May 2013, includes a new web-based project authoring environment and many new features (such as cloning, custom blocks, and cloud variables).</p>
	        
	        <h1 class="gcb-faq-question">How does the Computer Science Principles Online Workshop work?</h1>
	        <p class="gcb-faq-response">The two primary objectives in the design of the workshop are to support you in <strong>creating</strong> (learning more about Scratch, computational thinking, and how to help others develop as computational thinkers with Scratch) and <strong>connecting</strong> (with other educators, thinking about how to support computational thinking in your setting).</p>
	        <p class="gcb-faq-response">The workshop is six weeks long, and runs from Monday, June 3 until Friday, July 12. The first three weeks, called <strong>Foundations</strong>, are an opportunity to develop greater familiarity and fluency with the Scratch authoring environment and online community through a series of scaffolded activities. The final three weeks, called <strong>Explorations</strong>, are an opportunity to define and pursue a self-directed project (such as designing Scratch activities, documenting your experiences of helping others learn Scratch, or experimenting with advanced features), which you can develop on your own or with others.</p>
	        <p class="gcb-faq-response">Through the six weeks, you'll be maintaining an electronic design notebook, which you can submit each week for peer review.</p>
	        <p class="gcb-faq-response">Each week is composed of primarily asynchronous interactions, so you can work at your own pace, depending on your schedule and your time zone. The asynchronous components include mini-lectures (a.k.a. lecturettes), activity overviews and walkthroughs, tutorials, and discussion forums -- and will be made available at the beginning of each week. These asynchronous interactions are accompanied by twice-weekly synchronous sessions (a.k.a. "Office Hours"), held on Tuesday evening and Friday morning (Boston time).</p>
	        <p class="gcb-faq-response">You can participate as much or as little as you like during the six weeks -- and all of the resources will be publicly available after the workshop.</p>
	        <p class="gcb-faq-response">If you'd like to receive documentation of participation, we'll be offering a certificate of participation to anyone who submits their design notebook each week, with the major weekly activities completed by Friday, July 12.</p>

	        <h1 class="gcb-faq-question">How does the Computer Science Principles Online Workshop <i>site</i> work?</h1>
	        <p class="gcb-faq-response">Check out this workshop site walkthrough video to learn more about the workshop's 
		        online infrastructure.
	        </p>
	        <center>
	        	<iframe width="560" height="315" src="https://www.youtube.com/embed/9kHeiWY6_L4" frameborder="0" allowfullscreen></iframe>
	        </center>

	        <h1 class="gcb-faq-question">Who can participate in the Computer Science Principles Online Workshop?</h1>
	        <p class="gcb-faq-response">The workshop is designed primarily for <strong>educators</strong>. But the workshop is not limited to a particular number of participants, and anyone who is interested in learning more about Computer Science Principles with Scratch is welcome to join.</p>
	        <p class="gcb-faq-response">We hope that people from a wide range of backgrounds and settings -- and with varying levels of prior Scratch familiarity and comfort -- will participate.</p>

	        <h1 class="gcb-faq-question">Who is organizing the Computer Science Principles Online Workshop?</h1>
	        <p class="gcb-faq-response">The workshop is organized by members and friends of the <a href="http://scratch-ed.org" target="_blank">ScratchEd Team</a> at the Harvard Graduate School of Education. You can learn more about the workshop organizers and facilitators on the <a href="team">Team page</a>.</p>

	        <h1 class="gcb-faq-question">What is the Computer Science Principles Symposium?</h1>
	        <p class="gcb-faq-response">On Saturday, July 13, we will be hosting the Computer Science Principles Symposium at the Harvard Graduate School of Education in Cambridge, Massachusetts. The symposium is a capstone event, an opportunity for people who participated in the workshop to meet face-to-face and share their experiences with Scratch or the workshop. Participation in the symposium is optional, and one can participate in the symposium without having participated in the online workshop.</p>
	        
	    </div>
	  </div>
  </div>




        <!-- base.after_top_content_ends -->

        <!-- main section -->
        



        <!-- base.after_main_content_ends -->
      </div>
    </div>

    <!-- footer section -->
    <div style="margin-top: 50px;" id="gcb-signature"></div>
    <div class="gcb-footer" id="gcb-footer">
      <div id="gcb-footer-local">
        <div class="gcb-aux">
        </div>
      </div>
      <div id="gcb-footer-global" role="contentinfo">
        <div class="gcb-aux">
          <ul>
            <li>
              <a href="http://csp-csp4hs.appspot.com"> CSP4HS Team @ The University of Alabama, USA</a>
            </li>
            <!--
            <li>
              <a href="PRIVACY_POLICY_AND_TERMS_OF_SERVICE">
                
                Terms of Use
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
    <!-- base.before_body_tag_ends -->
 </body>
</html>