<!DOCTYPE html>
<html lang="en_US">
  <head>
    <base href="https://snapbangla.appspot.com/" />
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      About::Programming with Snap! in Bangla
    </title>

    <link rel="icon" href="assets/img/favicon.ico" />

    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

    <!-- jQuery should be imported first -->
    <script src="assets/lib/jquery-1.7.2.min.js"></script>

    <!-- The following translated strings are used in activity-generic.js and should be
    declared before that file is imported. -->
    <script>
      // import JSON for older browsers like IE 7
      if (typeof JSON == 'undefined') {
        document.write(
            '<script src="assets/lib/json2-2012.10.08.min.js"></' + 'script>');
      }

      // inline translations
      var trans = {};

      
      trans.CHECK_ANSWER_TEXT =
          " Check Answer ";

      
      trans.CHECK_ANSWERS_TEXT =
          " Check Answers ";

      
      trans.SHOW_ANSWER_TEXT =
          " Skip and Show Answer ";

      
      trans.SAVE_ANSWERS_TEXT =
          " Save Answers ";

      
      trans.SAVE_DRAFT_TEXT =
          " Save Draft ";

      
      trans.SUBMIT_ANSWERS_TEXT =
          " Submit Design Notebook ";

      
      trans.SUBMIT_ASSIGNMENT_TEXT =
          " Submit Design Notebook Link ";

      
      trans.SUBMIT_REVIEW_TEXT =
          " Submit Review ";

      
      trans.SELECT_ANSWER_PROMPT =
          " Please click one of the buttons for your answer. ";

      
      trans.ALL_CORRECT_TEXT =
          " All your answers are correct! ";

      
      trans.NUM_CORRECT_TEXT =
          " Number of questions you answered correctly ";

      
      trans.YOUR_SCORE_TEXT =
          " You received a score on this assessment of ";

      
      trans.LESSONS_TO_REVIEW_TEXT =
          " Here are lessons you could review to improve your score ";

      
      trans.PERFECT_SCORE_SAVE_TEXT =
          " Congratulations! Press the \&#39;Submit Answers\&#39; button to submit your grade. ";

      
      trans.GENERIC_SAVE_TEXT =
          " Press the \&#39;Submit Answers\&#39; button below to save your scores. You can also edit your answers above before clicking \&#39;Submit Answers\&#39;. ";

      
      trans.SUBMIT_ASSIGNMENT_CONFIRMATION =
          " Are you sure you want to submit this? "

      
      trans.SUBMIT_REVIEW_CONFIRMATION =
          " Are you sure you want to submit this review? "

      
      trans.CONFIRMATION_EXPLANATION =
          " You cannot edit or delete it after you have done so. "

    </script>
    <script src="assets/lib/activity-generic-1.3.js"></script>

    <script>
      
    </script>

    

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41402100-1', 'snapbangla.appspot.com');
ga('send', 'pageview');
</script>

  </head>

  <body>
    <!-- base.after_body_tag_begins -->

    <!-- logo bar -->
    <div id="gcb-header" role="banner">
      <div class="gcb-aux">
        <p class="gcb-course-image">
          <a href="https://snapbangla.appspot.com">
            <img src="assets/img/Logo.png"
                 alt="Snap!Bangla!!">
          </a>
        </p>
        <p class="gcb-title-header">
          <a href="/">স্ন্যাপ!বাংলা!!  বাংলায় প্রথম কম্পিউটার প্রোগ্রামিং ভাষা</a>
        </p>
        
        
        <div class="gcb-pull-right" style="font-size: larger;">
          
          <a href="https://www.google.com/accounts/ServiceLogin?service=ah&amp;passive=true&amp;continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttps://snapbangla.appspot.com/faq&amp;ltmpl=gm&amp;shdf=Ch4LEgZhaG5hbWUaEkNyZWF0aXZlIENvbXB1dGluZwwSAmFoIhTgwS86dKubshFpWMogTWQvjFGK7CgBMhS7MhwGrrjp9WuaC3HsV5I2EurjKA">Login</a>
        </div>
        
      </div>
    </div>

    
        
	    <div class="gcb-nav gcb-complex" id="gcb-nav-x">
			<div class="gcb-aux">
			  <ul>
			    <li >
			      <a href="course">Course</a>
			    </li>
		
			    <li class='active'>
			    	<a href="faqs">FAQs</a>
			    </li>
			    <li >
			    	<a href="team">Team</a>
			    </li>
			   
				<li >
			   <a href="discussionboard">DiscussionBoard</a>
			    </li>
			   
			    <li >
			   <a href="debug">Debug</a>
			    </li>
				
			    <li >
			   <a href="help">Help</a>
			    </li>
				
			    <li >
			   <a href="about">About</a>
			    </li>
			    				
			  </ul>
			</div>
		</div>
	
    

    <!-- top section -->
    <div class="is-wrapper">
      <div class="gcb-aux">
        


  <div>
	  <div class="gcb-cols">
		  <div class="gcb-col-11 gcb-aside">

	        <h1 class="gcb-product-headers-large">This page is Under Construction</h1>

			<img src="assets/img/WelcometoSB.png">
			
	        <h1>This page will be updated during course continuation...</h1>

	        <h1><b>
	        <p class="gcb-faq-question">Please check back occasionally for new updates to this page.</p>
			</b></h1>
			
	        
        </div>
	  </div>
  </div>




        <!-- base.after_top_content_ends -->

        <!-- main section -->
        



        <!-- base.after_main_content_ends -->
      </div>
    </div>

    <!-- footer section -->
    <div style="margin-top: 50px;" id="gcb-signature"></div>
    <div class="gcb-footer" id="gcb-footer">
      <div id="gcb-footer-local">
        <div class="gcb-aux">
        </div>
      </div>
      <div id="gcb-footer-global" role="contentinfo">
        <div class="gcb-aux">
          <ul>
            <li>
			<p class=MsoNormal align=center style='text-align:center'><b
    style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;
    color:red;mso-text-animation:blink-background'>
	 <marquee bgcolor="#98AFC7">স্ন্যাপ!বাংলা!!(Snap!Bangla!!) প্রোগ্রামিং-এ স্বাগতম *** স্ন্যাপ!বাংলা!! বাংলা ভাষায় কম্পিউটার প্রোগ্রামিং এর প্রথম এবং অনন্য একটি ফ্রি মবৃহদায়তনের উন্মুক্ত অনলাইন কোর্স (মুক)** Thank you for your attention and interest on Snap!Bangla!! Programming Language MOOC website. Snap!Bangla!! is developed and being improved by Dr. Mokter Hossain - Doctoral Researcher; Department of Computer Science; University of Alabama, USA. Please  come back again; and keep your Like and eyes on: https://www.facebook.com/SnapBangla and https://www.facebook.com/dr.mokterhossain for any immediate issue/updated news about it.</marquee>
</span></b></p>
	  
            </li>
            <!--
            <li>
              <a href="PRIVACY_POLICY_AND_TERMS_OF_SERVICE">
                
                Terms of Use
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
    <!-- base.before_body_tag_ends -->
 </body>
</html>