<!DOCTYPE html>
<html lang="en_US">
  <head>
    <base href="https://mokter-hossain.appspot.com/" />
	
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      Family::Dr. Mokter Hossain
    </title>

    <link rel="icon" href="assets/img/favicon.ico" />

    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

    <!-- jQuery should be imported first -->
    <script src="assets/lib/jquery-1.7.2.min.js"></script>

    <!-- The following translated strings are used in activity-generic.js and should be
    declared before that file is imported. -->
    <script>
      // import JSON for older browsers like IE 7
      if (typeof JSON == 'undefined') {
        document.write(
            '<script src="assets/lib/json2-2012.10.08.min.js"></' + 'script>');
      }

      // inline translations
      var trans = {};

      
      trans.CHECK_ANSWER_TEXT =
          " Check Answer ";

      
      trans.CHECK_ANSWERS_TEXT =
          " Check Answers ";

      
      trans.SHOW_ANSWER_TEXT =
          " Skip and Show Answer ";

      
      trans.SAVE_ANSWERS_TEXT =
          " Save Answers ";

      
      trans.SAVE_DRAFT_TEXT =
          " Save Draft ";

      
      trans.SUBMIT_ANSWERS_TEXT =
          " Submit Design Notebook ";

      
      trans.SUBMIT_ASSIGNMENT_TEXT =
          " Submit Design Notebook Link ";

      
      trans.SUBMIT_REVIEW_TEXT =
          " Submit Review ";

      
      trans.SELECT_ANSWER_PROMPT =
          " Please click one of the buttons for your answer. ";

      
      trans.ALL_CORRECT_TEXT =
          " All your answers are correct! ";

      
      trans.NUM_CORRECT_TEXT =
          " Number of questions you answered correctly ";

      
      trans.YOUR_SCORE_TEXT =
          " You received a score on this assessment of ";

      
      trans.LESSONS_TO_REVIEW_TEXT =
          " Here are lessons you could review to improve your score ";

      
      trans.PERFECT_SCORE_SAVE_TEXT =
          " Congratulations! Press the \&#39;Submit Answers\&#39; button to submit your grade. ";

      
      trans.GENERIC_SAVE_TEXT =
          " Press the \&#39;Submit Answers\&#39; button below to save your scores. You can also edit your answers above before clicking \&#39;Submit Answers\&#39;. ";

      
      trans.SUBMIT_ASSIGNMENT_CONFIRMATION =
          " Are you sure you want to submit this? "

      
      trans.SUBMIT_REVIEW_CONFIRMATION =
          " Are you sure you want to submit this review? "

      
      trans.CONFIRMATION_EXPLANATION =
          " You cannot edit or delete it after you have done so. "

    </script>
    <script src="assets/lib/activity-generic-1.3.js"></script>

    <script>
      
    </script>

    

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41402100-1', 'mokter-hossain.appspot.com');
ga('send', 'pageview');
</script>

  </head>

  <body>
    <!-- base.after_body_tag_begins -->

    <!-- logo bar -->
    <div id="gcb-header" role="banner">
      <div class="gcb-aux">
        <p class="gcb-course-image">
          <a href="https://mokter-hossain.appspot.com">
            <img src="assets/img/Mokter.png"
                 alt="Mokter Hossain">
          </a>
        </p>
        <p class="gcb-title-header">
          <a href="/">Dr. Mokter Hossain</a>
        </p>
        

        
        <div class="gcb-pull-right" style="font-size: larger;">
          
          <a href="https://www.google.com/accounts/ServiceLogin?service=ah&amp;passive=true&amp;continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttps://mokter-hossain.appspot.com/family&amp;ltmpl=gm&amp;shdf=Ch4LEgZhaG5hbWUaEkNyZWF0aXZlIENvbXB1dGluZwwSAmFoIhQztpvCL9Fn0sMGFCp_qfC_hHiraSgBMhSCi7EDy73RICPzw43qnk9r9vSlKg">Login</a>
        </div>
        
      </div>
    </div>

    
        
	    <div class="gcb-nav gcb-complex" id="gcb-nav-x">
			<div class="gcb-aux">
			  <ul>
			    <li >
			      <a href="https://mokter-hossain.appspot.com">Home</a>
			    </li>
			    
				<li >
			    	<a href="awards">Awards</a>
			    </li>
				
				<li >
			    	<a href="books">Books</a>
			    </li>
				
				<li >
			    	<a href="cv">CV</a>
			    </li>
				
				<li >
			    	<a href="education">Education</a>
			    </li>
				
				<li >
			    	<a href="experience">Experience</a>
			    </li>
				<li >
			    	<a href="research">Research</a>
			    </li>
				<li >
			    	<a href="publications">Publications</a>
			    </li>
							    
			    <li class='active'>
			    	<a href="family">Family</a>
			    </li>
			    
				<li >
			    	<a href="pictures">Pictures</a>
			    </li>
				
			    
				<li >
			    	<a href="blogs">Blogs</a>
			    </li>
				
				<li >
			    	<a href="outreach">Outreach</a>
			    </li>
				
				<li >
			    	<a href="services">Services</a>
			    </li>
				
				<li >
			    	<a href="faq">FAQ</a>
			    </li>
				
			  </ul>
			</div>
		</div>
	
    

    <!-- top section -->
    <div class="is-wrapper">
      <div class="gcb-aux">
        

  <div>
	  <div class="gcb-cols">
		  <div class="gcb-col-11 gcb-aside">
	        <h1 class="gcb-product-headers-large">Dr. Mokter Hossain's Family [Under Construction....]</h1>
	        <table width="100%" border=0>
	        	
	        	<tr>
		        	<td width="200px"><img src="assets/img/family/Mokter.png"></td>
		        	<td><h1 class="gcb-bios-name">Dr. Mokter Hossain</h1>
			        <p class="gcb-bios-description">
					
					<b>Mokter Hossain </b>has been pursuing second PhD in Computer Science at the University of Alabama in Tuscaloosa, USA since Fall 2012. He received first PhD in Curriculum, Teaching, and Learning, with an emphasis on Information Technology in Teaching-Learning Mathematics, from the University of Nevada, Reno, USA in Spring 2012. He have more than sixteen years of teaching experience in undergraduate and graduate levels; published more than twenty research papers in international peer-reviewed journals and conferences; and authored about twenty books on Computers, Computer Programming, and Information and Communication Technology in Education and Research. </p>
					<p> As a Graduate Research Assistant, <b>Dr. Hossain </b>has been working on the NSF CE21 Project that has been funded by the U.S. National Science Foundation (NSF). The project is aimed to develop and evaluate a model for the scalable deployment and sustainable persistence of the new Computer Science Principles course across the statewide network of teachers. It will provide year-long professional development to support teachers, rather than the week-long summer institutes that are typical of most AP training programs in other STEM areas.
					For more information about <b>Dr. Hossain</b>, please visit <a href="http://mokter.students.cs.ua.edu/"> his website </a> and <a href="http://m0kter.wordpress.com/"> personal blog </a>. 
					
		        	</td>		        	
	        	
	        	</tr>
	        	<tr>
		        	<td width="200px"><img src="assets/img/family/Mokter.png"></td>
		        	<td><h1 class="gcb-bios-name">Mokter Hossain</h1>
			    	<b>Mokter Hossain </b>has been pursuing second PhD in Computer Science at the University of Alabama in Tuscaloosa, USA since Fall 2012. He received first PhD in Curriculum, Teaching, and Learning, with an emphasis on Information Technology in Teaching-Learning Mathematics, from the University of Nevada, Reno, USA in Spring 2012. He have more than sixteen years of teaching experience in undergraduate and graduate levels; published more than twenty research papers in international peer-reviewed journals and conferences; and authored about twenty books on Computers, Computer Programming, and Information and Communication Technology in Education and Research. </p>
					<p> As a Graduate Research Assistant, <b>Dr. Hossain </b>has been working on the NSF CE21 Project that has been funded by the U.S. National Science Foundation (NSF). The project is aimed to develop and evaluate a model for the scalable deployment and sustainable persistence of the new Computer Science Principles course across the statewide network of teachers. It will provide year-long professional development to support teachers, rather than the week-long summer institutes that are typical of most AP training programs in other STEM areas.
					For more information about <b>Dr. Hossain</b>, please visit <a href="http://mokter.students.cs.ua.edu/"> his website </a> and <a href="http://m0kter.wordpress.com/"> personal blog </a>. 
					
		        	</td>		        	
	        	</tr>
	        		
	        </table>
	    </div>
	  </div>
  </div>


        <!-- base.after_top_content_ends -->

        <!-- main section -->
        


        <!-- base.after_main_content_ends -->
      </div>
    </div>

    <!-- footer section -->
    <div style="margin-top: 50px;" id="gcb-signature"></div>
    <div class="gcb-footer" id="gcb-footer">
      <div id="gcb-footer-local">
        <div class="gcb-aux">
        </div>
      </div>
      <div id="gcb-footer-global" role="contentinfo">
        <div class="gcb-aux">
          <ul>
            <li>
              <a href="https://mokter-hossain.appspot.com">Dr. Mokter Hossain @ The University of Alabama, USA</a>
            </li>
            <!--
            <li>
              <a href="PRIVACY_POLICY_AND_TERMS_OF_SERVICE">
                
                Terms of Use
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
    <!-- base.before_body_tag_ends -->
 </body>
</html>