<!DOCTYPE html>
<html lang="en_US">
  <head>
    <base href="https://dr-mokter.appspot.com/" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      Team::Computer Science Principles
    </title>

    <link rel="icon" href="assets/img/favicon.ico" />

    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

    <!-- jQuery should be imported first -->
    <script src="assets/lib/jquery-1.7.2.min.js"></script>

    <!-- The following translated strings are used in activity-generic.js and should be
    declared before that file is imported. -->
    <script>
      // import JSON for older browsers like IE 7
      if (typeof JSON == 'undefined') {
        document.write(
            '<script src="assets/lib/json2-2012.10.08.min.js"></' + 'script>');
      }

      // inline translations
      var trans = {};

      
      trans.CHECK_ANSWER_TEXT =
          " Check Answer ";

      
      trans.CHECK_ANSWERS_TEXT =
          " Check Answers ";

      
      trans.SHOW_ANSWER_TEXT =
          " Skip and Show Answer ";

      
      trans.SAVE_ANSWERS_TEXT =
          " Save Answers ";

      
      trans.SAVE_DRAFT_TEXT =
          " Save Draft ";

      
      trans.SUBMIT_ANSWERS_TEXT =
          " Submit Design Notebook ";

      
      trans.SUBMIT_ASSIGNMENT_TEXT =
          " Submit Design Notebook Link ";

      
      trans.SUBMIT_REVIEW_TEXT =
          " Submit Review ";

      
      trans.SELECT_ANSWER_PROMPT =
          " Please click one of the buttons for your answer. ";

      
      trans.ALL_CORRECT_TEXT =
          " All your answers are correct! ";

      
      trans.NUM_CORRECT_TEXT =
          " Number of questions you answered correctly ";

      
      trans.YOUR_SCORE_TEXT =
          " You received a score on this assessment of ";

      
      trans.LESSONS_TO_REVIEW_TEXT =
          " Here are lessons you could review to improve your score ";

      
      trans.PERFECT_SCORE_SAVE_TEXT =
          " Congratulations! Press the \&#39;Submit Answers\&#39; button to submit your grade. ";

      
      trans.GENERIC_SAVE_TEXT =
          " Press the \&#39;Submit Answers\&#39; button below to save your scores. You can also edit your answers above before clicking \&#39;Submit Answers\&#39;. ";

      
      trans.SUBMIT_ASSIGNMENT_CONFIRMATION =
          " Are you sure you want to submit this? "

      
      trans.SUBMIT_REVIEW_CONFIRMATION =
          " Are you sure you want to submit this review? "

      
      trans.CONFIRMATION_EXPLANATION =
          " You cannot edit or delete it after you have done so. "

    </script>
    <script src="assets/lib/activity-generic-1.3.js"></script>

    <script>
      
    </script>

    

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41402100-1', 'csp-cs4hs.appspot.com');
ga('send', 'pageview');
</script>

  </head>

  <body>
    <!-- base.after_body_tag_begins -->

    <!-- logo bar -->
    <div id="gcb-header" role="banner">
      <div class="gcb-aux">
        <p class="gcb-course-image">
          <a href="https://csp-cs4hs.appspot.com">
            <img src="assets/img/CSP-CS4HS_Logo.png"
                 alt="CSP-CS4HS">
          </a>
        </p>
        <p class="gcb-title-header">
          <a href="/">Computer Science Principles</a>
        </p>
        

        
        <div class="gcb-pull-right" style="font-size: larger;">
          
          <a href="https://www.google.com/accounts/ServiceLogin?service=ah&amp;passive=true&amp;continue=https://appengine.google.com/_ah/conflogin%3Fcontinue%3Dhttps://csp-cs4hs.appspot.com/team&amp;ltmpl=gm&amp;shdf=Ch4LEgZhaG5hbWUaEkNyZWF0aXZlIENvbXB1dGluZwwSAmFoIhQztpvCL9Fn0sMGFCp_qfC_hHiraSgBMhSCi7EDy73RICPzw43qnk9r9vSlKg">Login</a>
        </div>
        
      </div>
    </div>

    
        
	    <div class="gcb-nav gcb-complex" id="gcb-nav-x">
			<div class="gcb-aux">
			  <ul>
			    <li >
			      <a href="course">Home</a>
			    </li>
			    <li >
			      <a href="register">Registration</a>
			    </li>
			    <li >
			    	<a href="faqs">FAQs</a>
			    </li>
			    <li class='active'>
			    	<a href="team">Team</a>
			    </li>
			    
			    
			  </ul>
			</div>
		</div>
	
    

    <!-- top section -->
    <div class="is-wrapper">
      <div class="gcb-aux">
        

  <div>
	  <div class="gcb-cols">
		  <div class="gcb-col-11 gcb-aside">
	        <h1 class="gcb-product-headers-large">Computer Science Principles for High School Team</h1>
	        <table width="100%" border=0>
	        	<tr>
		        	<td width="200px"><img src="assets/img/team/JeffGray.png"></td>
		        	<td><h1 class="gcb-bios-name">Dr. Jeff Gray</h1>
			        <p class="gcb-bios-description">

<b>Jeff Gray </b>is an Associate Professor in the Department of Computer Science at the University of Alabama (UA) and a member of the newly formed Software Engineering Group. He is a National Science Foundation CAREER award winner and was named the 2008 Alabama Professor of the Year. Jeff is a Senior member of both the ACM and IEEE, and he currently serves as the chair of the Alabama IEEE Computer Society. He also serves on the Education Advisory Council of Code.org. </p>

<p> <b>Dr. Gray </b>received a Ph.D. in Computer Science in May of 2002 from the Department of Electrical Engineering and Computer Science at Vanderbilt University in Nashville, Tennessee. While at Vanderbilt, Jeff was a research assistant at the Institute for Software Integrated Systems (ISIS), where he worked on the DARPA Program Composition for Embedded Systems (PCES) project. He also worked on a tool integration project at ISIS that was funded by Boeing. Jeff's thesis advisor was Dr. Steve Schach, and his dissertation committee members were Dr. Janos Sztipanovits, Dr. Gabor Karsai, Dr. Larry Dowdy, Dr. Mike Fitzpatrick, and Dr. Fritz Barnes. 

Other additional information about Jeff is available <a href="http://gray.cs.ua.edu/personal/personal.html"> here </a>. 
</p>
		        	</td>		        	
	        	</tr>
	        	<tr>
		        	<td width="200px"><img src="assets/img/team/Mokter.png"></td>
		        	<td><h1 class="gcb-bios-name">Dr. Mokter Hossain</h1>
			        <p class="gcb-bios-description">
					
					<b>Mokter Hossain </b>has been pursuing second PhD in Computer Science at the University of Alabama in Tuscaloosa, USA since Fall 2012. He received first PhD in Curriculum, Teaching, and Learning, with an emphasis on Information Technology in Teaching-Learning Mathematics, from the University of Nevada, Reno, USA in Spring 2012. He have more than sixteen years of teaching experience in undergraduate and graduate levels; published more than twenty research papers in international peer-reviewed journals and conferences; and authored about twenty books on Computers, Computer Programming, and Information and Communication Technology in Education and Research. </p>
					<p> As a Graduate Research Assistant, <b>Dr. Hossain </b>has been working on the NSF CE21 Project that has been funded by the U.S. National Science Foundation (NSF). The project is aimed to develop and evaluate a model for the scalable deployment and sustainable persistence of the new Computer Science Principles course across the statewide network of teachers. It will provide year-long professional development to support teachers, rather than the week-long summer institutes that are typical of most AP training programs in other STEM areas.
					For more information about <b>Dr. Hossain</b>, please visit <a href="http://mokter.students.cs.ua.edu/"> his website </a> and <a href="http://m0kter.wordpress.com/"> personal blog </a>. 
					
		        	</td>		        	
	        	
	        	</tr>
	        	<tr>
		        	<td width="200px"><img src="assets/img/team/mjmadda.jpg"></td>
		        	<td><h1 class="gcb-bios-name">Mary Jo Madda</h1>
			        <p class="gcb-bios-description">Mary Jo Madda recently graduated from the Technology, Innovation, and Education program at the Harvard Graduate School of Education. Following her time at Northwestern University, Mary Jo moved into the world of education as a KIPP science teacher and grade level chair with Teach for America in Houston, TX, and later as a curriculum director and math teacher for a Catholic school in Los Angeles. She has since worked in a number of EdTech environments, including as a research team member for EcoMOBILE, Harvard’s augmented reality STEM project, and as co-founder of an educational media start-up housed at the Harvard i-Lab.</p>
		        	</td>		        	
	        	</tr>
	        	<tr>
		        	<td width="200px"><img src="assets/img/team/eschilling.png"></td>
		        	<td><h1 class="gcb-bios-name">Eric Schilling</h1>
			        <p class="gcb-bios-description">Eric Schilling hails from the beautiful shores of Lake Erie in exotic Cleveland, Ohio. He recently completed a master's degree in education technology at the Harvard Graduate School of Education. Last spring, he graduated from Cleveland State University -- where he spent countless hours tutoring mathematics and English. It was through this experience that he fell in love with education. On the side, he worked for an arts non-profit where he led after-school and summer digital media arts camps for high school students. During his senior year, he moved to Silver Spring, Maryland to work as a production assistant with Discovery Channel.</p>
		        	</td>		        	
	        	</tr>
	        	<tr>
		        	<td width="200px"><img src="assets/img/team/igustafson.jpg"></td>
		        	<td><h1 class="gcb-bios-name">Ingrid Gustafson</h1>
			        <p class="gcb-bios-description">Ingrid Gustafson is an Instructional Technology Specialist in Cambridge Public Schools, Cambridge, MA. She has been using Scratch in public schools, both integrated throughout the school day and in afterschool settings, since 2008. Ingrid has an undergraduate degree in Elementary Education from the University of Pennsylvania and a masters in Instructional Media and Technology from Teachers College, Columbia University. When not in front of a computer, tablet, or phone screen, Ingrid enjoys coaching the sport of pole vault for the Regis College track and field team. She can also be found running, hiking, or cycling throughout New England.</p>
		        	</td>		        	
	        	</tr>
	        	<tr>
		        	<td width="200px"><img src="assets/img/team/ljohnson.jpg"></td>
		        	<td><h1 class="gcb-bios-name">Laura Johnson</h1>
			        <p class="gcb-bios-description">Laura Johnson is a recent graduate from Technology, Innovation, and Education program at the Harvard Graduate School of Education. She has been a part of the ScratchEd team since September doing research on and helping to facilitate the in-person Scratch meetups for educators in the Greater Boston area. Laura is looking forward to learning from and working with the CCOW community.</p>
		        	</td>		        	
	        	</tr>
	        	<tr>
		        	<td width="200px"><img src="assets/img/team/kwhitney.jpg"></td>
		        	<td><h1 class="gcb-bios-name">Kelly Whitney</h1>
			        <p class="gcb-bios-description">Kelly Whitney is a researcher, consultant, and developer of children's media and technology.  She has a D.Ed. and a M.Ed. from the Harvard Graduate School of Education, and a B.S. from Northwestern University School of Communication. Her current research focus is on preschool families and educational enrichment, in traditional forms and via emerging technologies. She has worked on children and adolescent media and technology projects for Harvard University, MIT, Discovery Communications, and Nickelodeon, among others. Kelly is the mother of a feisty 3-year-old and can be found playing with blocks, legos, or finger paint.</p>
		        	</td>		        	
	        	</tr>
	        </table>
	    </div>
	  </div>
  </div>


        <!-- base.after_top_content_ends -->

        <!-- main section -->
        


        <!-- base.after_main_content_ends -->
      </div>
    </div>

    <!-- footer section -->
    <div style="margin-top: 50px;" id="gcb-signature"></div>
    <div class="gcb-footer" id="gcb-footer">
      <div id="gcb-footer-local">
        <div class="gcb-aux">
        </div>
      </div>
      <div id="gcb-footer-global" role="contentinfo">
        <div class="gcb-aux">
          <ul>
            <li>
              <a href="https://csp-cs4hs.appspot.com">CSP4HS Team @ The University of Alabama, USA</a>
            </li>
            <!--
            <li>
              <a href="PRIVACY_POLICY_AND_TERMS_OF_SERVICE">
                
                Terms of Use
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
    <!-- base.before_body_tag_ends -->
 </body>
</html>